@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

thead {
    background-color: #556B2F;
}

i {
    cursor: pointer;
    font-size: 1.4rem;
}

#modal {
    display: none;
    position: fixed;
    right: 40%;
    top: 0;
    width: 300px;
}

.modal-header {
    background-color: #556B2F;
    color: #fff;
}

.modal-dm {
    background-color: #495057;
}

.btn-primary {
    background-color: #556B2F;
    border: none;
}

.btn-primary:hover {
    background-color: #6B8E23;
    border: none;
}

@media (min-width: 0) {
    #modal {
        right: 0;
        width: 100%;
    }

    #add-book {
        visibility: hidden;
    }

    #add-book-responsive {
        visibility: visible;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (min-width: 440px) {
    table {
        display: inline-table;
    }
}

@media (min-width: 992px) {
    #modal {
        right: 40%;
        width: 300px;
    }

    #add-book {
        visibility: visible;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
    }

    #add-book-responsive {
        visibility: hidden;
    }
}